@section Styles {
    <style>
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 100% !important;
            /* padding-right: var(--bs-gutter-x, .75rem); */
            /* padding-left: var(--bs-gutter-x, .75rem); */
            padding: 5px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Instructor Dashboard - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/plugins/sal.css">
    <link rel="stylesheet" href="~/assets/css/plugins/feather.css">
    <link rel="stylesheet" href="~/assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="~/assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="~/assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jodit.min.css">

    <link rel="stylesheet" href="~/assets/css/styles.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="rbt-header rbt-header-default">
        <div class="rbt-sticky-placeholder"></div>

        <div class="rbt-header-wrapper  bg-color-white header-sticky">
            <div class="container">
                <div class="mainbar-row rbt-navigation-center align-items-center">
                    <div class="header-left">
                        <div class="logo logo-dark">
                            <a href="index.html">
                                <img src="~/assets/images/logo/logo.png" alt="Education Logo Images">
                            </a>
                        </div>

                        <div class="logo d-none logo-light">
                            <a href="index.html">
                                <img src="~/assets/images/dark/logo/logo-light.png" alt="Education Logo Images">
                            </a>
                        </div>
                    </div>
                    <div class="rbt-main-navigation d-none d-xl-block">
                        <nav class="mainmenu-nav">
                            <ul class="mainmenu">
                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a asp-action="Home">Home</a>
                                </li>

                                <li class="with-megamenu has-menu-child-item">
                                    <a asp-action="Courses" asp-controller="GuestFlow">Courses</a>
                                </li>

                                <li class="has-dropdown has-menu-child-item">
                                    <a asp-action="Event" asp-controller="GuestFlow">
                                        Event
                                    </a>
                                </li>

                                <li class="has-dropdown has-menu-child-item">
                                    <a asp-action="Become_Teacher" asp-controller="GuestFlow">
                                        Become Teacher
                                    </a>
                                </li>

                                <li class="has-dropdown has-menu-child-item">
                                    <a asp-action="About" asp-controller="GuestFlow">
                                        About us
                                    </a>
                                </li>
                                <li class="has-dropdown has-menu-child-item">
                                    <a asp-action="Contact" asp-controller="GuestFlow">
                                        Contact Us
                                    </a>
                                </li>
                                @if (Context.Session.GetString("name") != null)
                                {
                                    <li class="has-dropdown has-menu-child-item">
                                        <a asp-action="Student_dashboard" asp-controller="Student">Dashboard_student</a>
                                    </li>
                                    <li class="has-dropdown has-menu-child-item">
                                        <a asp-action="Logout" asp-controller="GuestFlow">Logout</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>

                    <div class="header-right">
                        <!-- ===== Login/Register Buttons (Visible when not logged in) ===== -->
                        <div class="rbt-btn-wrapper d-none d-xl-block" id="authButtons">
                            @if (Context.Session.GetString("name") == null)
                            {
                                <a class="rbt-btn rbt-switch-btn btn-gradient btn-sm hover-transform-none" asp-controller="GuestFlow" asp-action="Register">
                                    <span data-text="Join Now">Join Now</span>
                                </a>
                                <a class="rbt-btn rbt-switch-btn btn-gradient btn-sm hover-transform-none" asp-controller="GuestFlow" asp-action="Login">
                                    <span data-text="Login">Login</span>
                                </a>
                            }
                            else
                            {
                                <a asp-action="Student_profile" asp-controller="Student">@Context.Session.GetString("name")</a>
                                <!-- User Avatar Circle -->
                                <a asp-action="Student_profile" asp-controller="Student" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="@Context.Session.GetString("profile")" alt="User" width="40" height="40" class="rounded-circle">
                                </a>
                            }
                        </div>

                        <!-- Start Mobile-Menu-Bar -->
                        <div class="mobile-menu-bar d-block d-xl-none">
                            <div class="hamberger">
                                <button class="hamberger-button rbt-round-btn">
                                    <i class="feather-menu"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Start Mobile-Menu-Bar -->
                    </div>

                </div>
            </div>
        </div>

    </header>
    <div class="row g-5">
        <div class="col-lg-3">
            <!-- Start Dashboard Sidebar  -->
            <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                <div class="inner">
                    <div class="content-item-content">

                        <div class="rbt-default-sidebar-wrapper">
                            <div class="section-title mb--20">
                                <h6 class="rbt-title-style-2">Welcome, Jone Due</h6>
                            </div>
                            <nav class="mainmenu-nav">
                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                    <li><a asp-action="Student_dashboard" asp-controller="Student" class="feather-home"></i><span>Dashboard</span></a></li>
                                    <li><a asp-action="Student_profile"><i class="feather-user"></i><span>My Profile</span></a></li>
                                    <li><a href="instructor-enrolled-courses.html"><i class="feather-book-open"></i><span>Enrolled Courses</span></a></li>
                                    <li><a href="instructor-wishlist.html"><i class="feather-bookmark"></i><span>Wishlist</span></a></li>
                                    <li><a href="instructor-reviews.html"><i class="feather-star"></i><span>Reviews</span></a></li>
                                    <li><a href="instructor-my-quiz-attempts.html"><i class="feather-help-circle"></i><span>My Quiz Attempts</span></a></li>
                                    <li><a href="instructor-order-history.html"><i class="feather-shopping-bag"></i><span>Order History</span></a></li>
                                </ul>
                            </nav>

                            <div class="section-title mt--40 mb--20">
                                <h6 class="rbt-title-style-2">Instructor</h6>
                            </div>

                            <nav class="mainmenu-nav">
                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                    <li><a href="instructor-course.html"><i class="feather-monitor"></i><span>My Courses</span></a></li>
                                    <li><a href="instructor-announcements.html"><i class="feather-volume-2"></i><span>Announcements</span></a></li>
                                    <li><a href="instructor-quiz-attempts.html"><i class="feather-message-square"></i><span>Quiz Attempts</span></a></li>
                                    <li><a href="instructor-assignments.html"><i class="feather-list"></i><span>Assignments</span></a></li>
                                </ul>
                            </nav>

                            <div class="section-title mt--40 mb--20">
                                <h6 class="rbt-title-style-2">User</h6>
                            </div>

                            <nav class="mainmenu-nav">
                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                    <li><a href="instructor-settings.html"><i class="feather-settings"></i><span>Settings</span></a></li>
                                    <li><a href="index.html"><i class="feather-log-out"></i><span>Logout</span></a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Dashboard Sidebar  -->
        </div>

        <div class="col-lg-9">
            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box mb--60">
                <div class="content">
                    <div class="section-title">
                        <h4 class="rbt-title-style-3">Dashboard</h4>
                    </div>
                </div>
            </div>
            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box mb--60">
                <div class="content">
                    <div class="row g-5">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer aera -->
    <footer class="rbt-footer footer-style-1 bg-color-white overflow-hidden">
        <div class="footer-top">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <div class="logo logo-dark">
                                <a href="index.html">
                                    <img src="~/assets/images/logo/logo.png" alt="Edu-cause">
                                </a>
                            </div>
                            <div class="logo d-none logo-light">
                                <a href="index.html">
                                    <img src="~/assets/images/dark/logo/logo-light.png" alt="Edu-cause">
                                </a>
                            </div>

                            <p class="description mt--20">
                                We’re always in search for talented
                                and motivated people. Don’t be shy introduce yourself!
                            </p>

                            <ul class="social-icon social-default justify-content-start">
                                <li>
                                    <a href="https://www.facebook.com/">
                                        <i class="feather-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/">
                                        <i class="feather-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/">
                                        <i class="feather-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkdin.com/">
                                        <i class="feather-linkedin"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="contact-btn mt--30">
                                <a class="rbt-btn hover-icon-reverse btn-border-gradient radius-round" href="#">
                                    <div class="icon-reverse-wrapper">
                                        <span class="btn-text">Contact With Us</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <h5 class="ft-title">Useful Links</h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="12-marketplace.html">Marketplace</a>
                                </li>
                                <li>
                                    <a href="04-kindergarten.html">kindergarten</a>
                                </li>
                                <li>
                                    <a href="13-university-classic.html">University</a>
                                </li>
                                <li>
                                    <a href="09-gym-coaching.html">GYM Coaching</a>
                                </li>
                                <li>
                                    <a href="faqs.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="about-us-01.html">About Us</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <h5 class="ft-title">Our Company</h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="contact.html">Contact Us</a>
                                </li>
                                <li>
                                    <a href="become-a-teacher.html">Become Teacher</a>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="instructor.html">Instructor</a>
                                </li>
                                <li>
                                    <a href="event-list.html">Events</a>
                                </li>
                                <li>
                                    <a href="course-filter-one-toggle.html">Course</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <h5 class="ft-title">Get Contact</h5>
                            <ul class="ft-link">
                                <li><span>Phone:</span> <a href="#">(406) 555-0120</a></li>
                                <li><span>E-mail:</span> <a href="mailto:hr@example.com">admin@example.com</a></li>
                            </ul>

                            <form class="newsletter-form mt--20" action="#">
                                <h6 class="w-600">Newsletter</h6>
                                <p class="description">
                                    2000+ Our students are subscribe Around the World.<br> Don’t be shy
                                    introduce yourself!
                                </p>

                                <div class="form-group right-icon icon-email mb--20">
                                    <label for="email">Enter Your Email Here</label>
                                    <input id="email" type="email">
                                </div>

                                <div class="form-group mb--0">
                                    <button class="rbt-btn rbt-switch-btn btn-gradient radius-round btn-sm" type="submit">
                                        <span data-text="Submit Now">Submit Now</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rbt-separator-mid">
            <div class="container">
                <hr class="rbt-separator m-0">
            </div>
        </div>
        <!-- Start Copyright Area  -->
        <div class="copyright-area copyright-style-1 ptb--20">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                        <p class="rbt-link-hover text-center text-lg-start">Copyright © 2025 <a href="https://rainbowthemes.net/">Rainbow-Themes.</a> All Rights Reserved</p>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                        <ul class="copyright-link rbt-link-hover justify-content-center justify-content-lg-end mt_sm--10 mt_md--10">
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="privacy-policy.html">Privacy policy</a></li>
                            <li><a href="subscription.html">Subscription</a></li>
                            <li><a href="login.html">Login & Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area  -->
    </footer>
    <!-- End Footer aera -->
    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="~/assets/js/vendor/sal.js"></script>
    <!-- Dark Mode Switcher -->
    <script src="~/assets/js/vendor/js.cookie.js"></script>
    <script src="~/assets/js/vendor/jquery.style.switcher.js"></script>
    <script src="~/assets/js/vendor/swiper.js"></script>
    <script src="~/assets/js/vendor/jquery-appear.js"></script>
    <script src="~/assets/js/vendor/odometer.js"></script>
    <script src="~/assets/js/vendor/backtotop.js"></script>
    <script src="~/assets/js/vendor/isotop.js"></script>
    <script src="~/assets/js/vendor/imageloaded.js"></script>

    <script src="~/assets/js/vendor/wow.js"></script>
    <script src="~/assets/js/vendor/waypoint.min.js"></script>
    <script src="~/assets/js/vendor/easypie.js"></script>
    <script src="~/assets/js/vendor/text-type.js"></script>
    <script src="~/assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="~/assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="~/assets/js/vendor/jquery-ui.js"></script>
    <script src="~/assets/js/vendor/magnify-popup.min.js"></script>
    <script src="~/assets/js/vendor/paralax-scroll.js"></script>
    <script src="~/assets/js/vendor/paralax.min.js"></script>
    <script src="~/assets/js/vendor/countdown.js"></script>
    <script src="~/assets/js/vendor/plyr.js"></script>
    <script src="~/assets/js/vendor/jodit.min.js"></script>
    <script src="~/assets/js/vendor/Sortable.min.js"></script>



    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>
</html>
